/********************************/
/* Comments Macro CSS           */

/* --------- Comment Display --------- */


.comment_username {
    text-align: center;
    bottom: 0px;
    padding: 0px 0px 4px 0px;
    color: #808080;
    border: 1px solid #808080;
    border-bottom: none;
    background-color: #e8e8e8;
    font-size: 80%;
    width:  250px;
    margin-left: 70px; 
    margin-bottom: -1px;
    position: relative;
    z-index: 2;
    border-top-right-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;  -webkit-border-top-left-radius: 6px;  -moz-border-radius-topleft: 6px;
    }

.comment_name {
    font-weight:bold;
}

.comment_posting {
    padding: 4px 15px 5px 12px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #808080; 
    background-color: #f8f8f8;
    position: relative;
    z-index: 1;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
    box-shadow: 1px 1px 2px #AAAAAA; -moz-box-shadow: 1px 1px 2px #AAAAAA; -webkit-box-shadow: 1px 1px 2px #AAAAAA;
    }

/* Comment Form */

.comments_form {}

.comments_form th, td {
    background-color: transparent !important;
    border-style: none !important;
    padding-top: .3em;
    vertical-align: top;
    font-size: 100% !important;
    }

.comments_form th {
    text-align: right;
    padding-right: .4em;
    color: #746608;
    }

.comments_form td#center_cell {
    text-align: center;
    }

.comments_form input#name {
    width: 350px;
    }

.comments_form input#name:focus {
    background-color: #FFFBE8 !important;
    }

.comments_form textarea {
    width: 350px;
    height: 15em;
    font-family: DejaVu Sans, Droid Sans, Verdana, sans-serif !important;
    font-size: 100% !important;
    }

.comments_form textarea:focus{
    background-color: #FFFBE8 !important;
    }

/* For the Approval Page */
.comment_approval form {
    display: inline;
    padding-left: 10px;
    }

.comment_approval table {
    width: 98%;
    }

.comment_approval input#delete {
    color: #800000;
    background-color: #DB9AA0;
    }

.comment_approval input#ok {
    color: green;
    background-color: #d5ffc7;
    }
